.lists {
    flex: 4;
    padding-right: 16px;

    .list__form {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    }

    .list__form-item {
        width: 250px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        padding: 20px;
    }

    .list__form-item > label {
        color: gray;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .list__form-item > input {
        padding: 10px;
    }

    .list__form-item > select {
        padding: 10px;
    }

    .list__form-button {
        height: 30px;
        margin: 10px 0 16px 16px;
        padding: 7px 10px;
        border: none;
        border-radius: 10px;
        background-color: darkblue;
        color: white;
        font-weight: 600;
        cursor: pointer;
        align-self: center;
    }
}
